.about{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .about-text {
    padding: 0px;
  }
  
  .about-text p {
    text-align: center;
    line-height: 1.5;
  }
  
  .riley {
    color: rgb(10, 167, 234);
    text-align: center;
  }